# Assignment 3
All questions are weighted the same in this assignment. This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. All questions are worth the same number of points except question 1 which is worth 17% of the assignment grade.

**Note**: Questions 2-13 rely on your question 1 answer.

In [1]:
import pandas as pd
import numpy as np

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
import warnings
warnings.filterwarnings('ignore')

### Question 1
Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **Energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]`

Convert `Energy Supply` to gigajoules (**Note: there are 1,000,000 gigajoules in a petajoule**). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with parenthesis in their name. Be sure to remove these, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`.

Next, load the GDP data from the file `assets/world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".*

In [2]:
def answer_one():
    # YOUR CODE HERE
    Energy = pd.read_excel('assets/Energy Indicators.xls',skiprows=16,skipfooter=38)
    Energy=Energy.drop(Energy.columns[[0,1]],axis=1)
    Energy=Energy.rename(columns={'Unnamed: 2':'Country','Energy Supply per capita':'Energy Supply per Capita','Renewable Electricity Production':'% Renewable'})
    Energy=Energy.drop([0])
    Energy=Energy.replace('...',np.NaN)
    Energy['Energy Supply']=Energy['Energy Supply'].apply(lambda x:x*1000000)
    Energy['Country']=Energy['Country'].str.replace('\d+','')
    country_names = {"Republic of Korea": "South Korea","United States of America": "United States","United Kingdom of Great Britain and Northern Ireland": "United Kingdom","China, Hong Kong Special Administrative Region": "Hong Kong"}
    Energy = Energy.set_index('Country')
    Energy = Energy.rename(index=country_names) 
    Energy=Energy.reset_index()
    Energy['Country']=Energy['Country'].str.replace(r"\s\(.*\)","")
    pd.set_option('display.float_format', lambda x: f'{x:.0f}')
    GDP=pd.read_csv('assets/world_bank.csv',skiprows=4)
    country_names2 = {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"}
    GDP = GDP.set_index('Country Name')
    GDP = GDP.rename(index=country_names2)
    GDP=GDP.reset_index()
    GDP=GDP.rename(columns={'Country Name': 'Country'})
    ScimEn = pd.read_excel('assets/scimagojr-3.xlsx')
    Combine = pd.merge(pd.merge(GDP,Energy,on='Country'),ScimEn,on='Country')
    answer = Combine.loc[Combine['Rank'] <= 15].sort_values(by=['Rank'])
    answer_one = answer[['Country','Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    answer_one = answer_one.set_index('Country')
    return answer_one
    raise NotImplementedError()
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,5,138,127191000000,93,20,3992331462571,4559041383518,4997775145606,5459247267275,6039658508486,6612490294274,7124977970400,7672447738017,8230120617794,8797998940421
United States,2,96661,94747,792274,265436,8,230,90838000000,286,12,14792303791800,15055395304800,15011490541400,14594842181900,14964372000000,15204019634600,15542161722300,15773666098800,16156618476000,16548573278300
Japan,3,30504,30287,223024,61554,7,134,18984000000,149,10,5496541517363,5617035943771,5558526873314,5251308399909,5498717815810,5473738114222,5569101602926,5644658523313,5642884448582,5669563143141
United Kingdom,4,20944,20357,206091,37874,10,139,7920000000,124,11,2419630700402,2482203235476,2470614405284,2367047611712,2403504326329,2450911011125,2479808627472,2533370110012,2605643189895,2666333396477
Russian Federation,5,18534,18301,34266,12422,2,57,30709000000,214,17,1385792607183,1504071117741,1583004071092,1459199142720,1524917468442,1589942641764,1645875899596,1666934123163,1678708855071,1616148858034
Canada,6,17899,17620,215003,40930,12,149,10431000000,296,62,1564468853329,1596739898466,1612713061250,1565144676082,1613406134731,1664086754805,1693132927878,1730687770724,1773485821200,1792608764609
Germany,7,17027,16831,140566,27426,8,126,13261000000,165,18,3332890754967,3441560834437,3478809377483,3283339933775,3417298013245,3542371125828,3556723774834,3567317390728,3624386278146,3685555907285
India,8,15005,14841,128763,37209,9,115,33195000000,26,15,1265894322131,1374865195244,1428360609658,1549482541545,1708458876830,1821872415624,1924235460945,2051981849792,2200616575311,2367206118959
France,9,13153,12973,130632,28601,10,114,10597000000,166,17,2607839735099,2669423841060,2674637086093,2595966887417,2646994701987,2702031788079,2706968211921,2722566887417,2729631788079,2761185430464
South Korea,10,11983,11923,114675,22595,10,104,11007000000,221,2,941019882149,992431619676,1020509638540,1027729932849,1094499338703,1134795571931,1160809426197,1194429021592,1234340240503,1266580410309
Italy,11,10964,10794,111850,26661,10,106,6530000000,109,34,2202169663576,2234626814702,2211154176556,2089937511523,2125184794172,2137439133775,2077184315762,2040871178146,2033867707550,2049315603576
Spain,12,9428,9330,123336,23964,13,115,4923000000,106,38,1414822516556,1468145695364,1484529801324,1431475496689,1431672847682,1417354966887,1380215894040,1357139072848,1375605298013,1419821192053
Iran,13,8896,8819,57470,19125,6,72,9172000000,119,6,389552313541,425064554419,428990857822,438920754764,467790215915,485330901134,453256899728,444592553890,463902735246,NaN
Australia,14,8831,8725,90765,15606,10,107,5386000000,231,12,1021939264107,1060340245234,1099643871866,1119653852349,1142250506474,1169431057882,1211913217353,1241484494447,1272519759757,1301251030446
Brazil,15,8668,8596,60702,14396,7,86,12149000000,59,70,1845079664514,1957118136056,2056809174053,2054214562458,2208872214643,2295244758550,2339209222185,2409739667076,2412230647720,2319423390494

In [3]:
assert type(answer_one()) == pd.DataFrame, "Q1: You should return a DataFrame!"

assert answer_one().shape == (15,20), "Q1: Your DataFrame should have 20 columns and 15 entries!"

In [4]:
# Cell for autograder.

### Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [5]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [8]:
def answer_two():
    # YOUR CODE HERE
    Energy = pd.read_excel('assets/Energy Indicators.xls',skiprows=16,skipfooter=38)
    # remove first two columns
    Energy=Energy.drop(Energy.columns[[0,1]],axis=1)
    # renmae columns
    Energy=Energy.rename(columns={'Unnamed: 2':'Country','Energy Supply per capita':'Energy Supply per Capita','Renewable Electricity Production':'% Renewable'})
    Energy=Energy.drop([0])
    Energy=Energy.replace('...',np.NaN)
    # change the values in the columns of Energy Supply
    Energy['Energy Supply']=Energy['Energy Supply'].apply(lambda x:x*1000000)
    # the numbers in strings [country] need to be removed
    Energy['Country']=Energy['Country'].str.replace('\d+','')
    # rename specific rows
    country_names = {"Republic of Korea": "South Korea","United States of America": "United States","United Kingdom of Great Britain and Northern Ireland": "United Kingdom","China, Hong Kong Special Administrative Region": "Hong Kong"}
    Energy = Energy.set_index('Country')
    Energy = Energy.rename(index=country_names) 
    # Before change the columns name, the index should be reset
    Energy=Energy.reset_index()
    Energy['Country']=Energy['Country'].str.replace(r"\s\(.*\)","")
    
    #step 2
    # display values in dataframe as floater, instead of scientific notation
    pd.set_option('display.float_format', lambda x: f'{x:.0f}')
    GDP=pd.read_csv('assets/world_bank.csv',skiprows=4)
    country_names2 = {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"}
    GDP = GDP.set_index('Country Name')
    GDP = GDP.rename(index=country_names2)
    GDP=GDP.reset_index()
    GDP=GDP.rename(columns={'Country Name': 'Country'})
    
    #step 3
    ScimEn = pd.read_excel('assets/scimagojr-3.xlsx')
    
    #step 4 merge dataframes
    # merge three dataframes
    Combine = pd.merge(pd.merge(GDP,Energy,on='Country'),ScimEn,on='Country')
    #extract the first 15 rows and 20 required columns
    merge_1 = pd.merge(ScimEn, Energy, how='outer',left_index=True, right_index=True)
    merge = pd.merge(merge_1, GDP[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']], how='outer', left_index=True, right_index=True)
    merge_2 = pd.merge(ScimEn, Energy, how='inner',left_index=True, right_index=True)
    merge1 = pd.merge(merge_2, GDP[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']], how='inner', left_index=True, right_index=True)
    return len(merge)-len(merge1)
    raise NotImplementedError()
answer_two()

73

In [ ]:
assert type(answer_two()) == int, "Q2: You should return an int number!"

### Question 3
What are the top 15 countries for average GDP over the last 10 years?

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [ ]:
def answer_three():
    # YOUR CODE HERE
    #step 1
    Energy = pd.read_excel('assets/Energy Indicators.xls',skiprows=16,skipfooter=38)
    # remove first two columns
    Energy=Energy.drop(Energy.columns[[0,1]],axis=1)
    # renmae columns
    Energy=Energy.rename(columns={'Unnamed: 2':'Country','Energy Supply per capita':'Energy Supply per Capita','Renewable Electricity Production':'% Renewable'})
    Energy=Energy.drop([0])
    Energy=Energy.replace('...',np.NaN)
    # change the values in the columns of Energy Supply
    Energy['Energy Supply']=Energy['Energy Supply'].apply(lambda x:x*1000000)
    # the numbers in strings [country] need to be removed
    Energy['Country']=Energy['Country'].str.replace('\d+','')
    # rename specific rows
    country_names = {"Republic of Korea": "South Korea","United States of America": "United States","United Kingdom of Great Britain and Northern Ireland": "United Kingdom","China, Hong Kong Special Administrative Region": "Hong Kong"}
    Energy = Energy.set_index('Country')
    Energy = Energy.rename(index=country_names) 
    # Before change the columns name, the index should be reset
    Energy=Energy.reset_index()
    Energy['Country']=Energy['Country'].str.replace(r"\s\(.*\)","")
    
    #step 2
    # display values in dataframe as floater, instead of scientific notation
    pd.set_option('display.float_format', lambda x: f'{x:.0f}')
    GDP=pd.read_csv('assets/world_bank.csv',skiprows=4)
    country_names2 = {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"}
    GDP = GDP.set_index('Country Name')
    GDP = GDP.rename(index=country_names2)
    GDP=GDP.reset_index()
    GDP=GDP.rename(columns={'Country Name': 'Country'})
    #step 3
    ScimEn = pd.read_excel('assets/scimagojr-3.xlsx')
    #step 4 merge dataframes
    # merge three dataframes
    Combine = pd.merge(pd.merge(GDP,Energy,on='Country'),ScimEn,on='Country')
    # extract the first 15 rows and 20 required columns
    answer = Combine.loc[Combine['Rank'] <= 15].sort_values(by=['Rank'])
    answer_one = answer[['Country','Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    answer_one = answer_one.set_index('Country')
    # generate a new column with average GDP
    answer_one['avgGDP'] = answer_one[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(axis=1)
    answer_one = answer_one.sort_values(by=['avgGDP'],ascending=False)
    # convert dataframe to a list by using squeeze()
    answer_three = answer_one['avgGDP'].squeeze()
    return answer_three
    raise NotImplementedError()

In [ ]:
assert type(answer_three()) == pd.Series, "Q3: You should return a Series!"

### Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [11]:
def answer_four():
    # YOUR CODE HERE
    Top15 = answer_one()
    Top15['avgGDP']=Top15[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(axis=1)
    Top15.sort_values(['avgGDP'], ascending = False,inplace=True)
    answer_four = Top15.iloc[5]['2015']-Top15.iloc[5]['2006']
    return answer_four
    raise NotImplementedError()
answer_four()

246702696075.3999

In [ ]:
# Cell for autograder.

### Question 5
What is the mean energy supply per capita?

*This function should return a single number.*

In [ ]:
def answer_five():
    # YOUR CODE HERE
    answer_five=answer_one()['Energy Supply per Capita'].mean()
    return answer_five
    raise NotImplementedError()

In [ ]:
# Cell for autograder.

### Question 6
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [ ]:
def answer_six():
    # YOUR CODE HERE
    answer_six=()
    answer_six=answer_one()['% Renewable'].idxmax(), answer_one()['% Renewable'].max()
    return answer_six
    raise NotImplementedError()

In [ ]:
assert type(answer_six()) == tuple, "Q6: You should return a tuple!"

assert type(answer_six()[0]) == str, "Q6: The first element in your result should be the name of the country!"

### Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_seven():
    # YOUR CODE HERE
    df=answer_one()
    df['Ratio of self-citations']=df['Self-citations']/df['Citations']
    answer_seven=()
    answer_seven=df['Ratio of self-citations'].idxmax(), df['Ratio of self-citations'].max()
    return answer_seven
    raise NotImplementedError()

In [ ]:
assert type(answer_seven()) == tuple, "Q7: You should return a tuple!"

assert type(answer_seven()[0]) == str, "Q7: The first element in your result should be the name of the country!"

### Question 8

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return the name of the country*

In [14]:
def answer_eight():
    # YOUR CODE HERE
    df=answer_one()
    df['Est']=df['Energy Supply']/df['Energy Supply per Capita']
    df = df.sort_values(by=['Est'],ascending=False)
    answer_eight=df.iloc[2].name
    return answer_eight
    raise NotImplementedError()
answer_eight()

'United States'

In [15]:
assert type(answer_eight()) == str, "Q8: You should return the name of the country!"

### Question 9
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
    # YOUR CODE HERE
    df=answer_one()
    df['Est']=df['Energy Supply']/df['Energy Supply per Capita']
    df['Citable doc per person'] = df['Citable documents']/df['Est']
    answer_nine = df['Citable doc per person'].corr(df['Energy Supply per Capita'])
    return answer_nine
    raise NotImplementedError()

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

### Question 10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [19]:
def answer_ten():
    # YOUR CODE HERE
    Top15=answer_one()
    Top15['HighRenew']=Top15['% Renewable'].map(lambda x:1 if x>=Top15['% Renewable'].median() else 0) 
    return Top15['HighRenew']
    raise NotImplementedError()
answer_ten().info

<bound method Series.info of Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64>

In [ ]:
assert type(answer_ten()) == pd.Series, "Q10: You should return a Series!"

### Question 11
Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    # YOUR CODE HERE
    df = answer_one()
    df['Population'] = (df['Energy Supply'] / df['Energy Supply per Capita'])
    df = df.reset_index()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    # map contients to each country
    df['Continent']= df['Country'].map(ContinentDict)
    # groupby 'continents' and agg 'population' column
    answer_eleven = df.groupby('Continent')['Population'].agg(['size', 'sum','mean','std'])
    return answer_eleven
    raise NotImplementedError()

In [ ]:
assert type(answer_eleven()) == pd.DataFrame, "Q11: You should return a DataFrame!"

assert answer_eleven().shape[0] == 5, "Q11: Wrong row numbers!"

assert answer_eleven().shape[1] == 4, "Q11: Wrong column numbers!"

### Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [21]:
def answer_twelve():
    # YOUR CODE HERE
    df=answer_one()
    df['Population'] = (df['Energy Supply'] / df['Energy Supply per Capita'])
    df = df.reset_index()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    # map contients to each country
    df['Continent']= df['Country'].map(ContinentDict)
    # set Top15 countries into 5 bins and create a new column named 'bins'
    df['bins']=pd.cut(df['% Renewable'],bins=5)
    # groupby 'continent' and 'bins'
    answer_twelve = df.groupby(['Continent','bins']).size()
    return answer_twelve
    raise NotImplementedError()
answer_twelve()

Continent      bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Australia      (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
               (42.701, 56.174]    0
               (56.174, 69.648]    0
North America  (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
South America  (2.212, 15.753]     0
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
dtype: int64

In [ ]:
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"

assert len(answer_twelve()) == 25, "Q12: Wrong result numbers!"

### Question 13
Convert the Population Estimate series to a string with thousands separator (using commas). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12,345,678.90

*This function should return a series `PopEst` whose index is the country name and whose values are the population estimate string*

In [6]:
def answer_thirteen():
    # YOUR CODE HERE
    df=answer_one()
    df['PopEst'] = (df['Energy Supply'] / df['Energy Supply per Capita'])
    df['PopEst']=df['PopEst'].apply(lambda x: '{:,}'.format(x))
    answer_thirteen = df['PopEst'].squeeze()
    return answer_thirteen
    raise NotImplementedError()

In [ ]:
assert type(answer_thirteen()) == pd.Series, "Q13: You should return a Series!"

assert len(answer_thirteen()) == 15, "Q13: Wrong result numbers!"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")